body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: grey;
    font-family: sans-serif;
    background-image: url('https://img.freepik.com/free-photo/red-black-brush-stroke-banner-background-perfect-canva_1361-3597.jpg?w=900&t=st=1661938989~exp=1661939589~hmac=a15a0de80de4a5b1f1146077dc3d7967dc4c631b963c3da2cf27077d7d5e4411');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 120%;
  
}
.card{
    background: #000000d0;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
    color: white;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
    height:44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}
button:hover{
    background: #7b7b7b6b;
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.4rem 1rem;
    border-radius: 28px;
    background:#7c7c7c2b ;
    color: rgb(253, 252, 251);
    font-family: inherit;
    font-size: 105%;
    width:calc(100% - 100px) ;
}
